<div class="jumbotron">
	<h1>Hermenies</h1>
	<p>
		Hermeneutics for the digital age
	</p>
	<% if user_signed_in? %>
		<p>
			<%= link_to "Add Text", new_text_path, class: "btn btn-primary btn-lg" %>
			<%= link_to "View All Texts", texts_path, class: "btn btn-primary btn-lg" %>
		</p>
	<% else %>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>
	<% end %>
</div>

<div class="row">
</div>