  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <td><%= image_tag text.image.present? ? text.image.url(:thumb) : "" %></td>
      <div class="caption">
        <h3><%= link_to text.title, text %></h3>
        <p><%= simple_format(text.body) %></p>
      </div>
    </div>
  </div>